@import url('https://fonts.googleapis.come/css2?family=Poppins&display=swap');

body{
    background-color: aquamarine;
    font-family: cursive;
    font-weight:bold;
    color:navy;
}
.nav{
    display:flex;
    align-items: center;
    justify-content:center;
}
.nav ol{
    display:flex;
    list-style: none;
}

.nav ol li{
    margin:1em;
}
.nav ol li a{
    text-decoration: none;
    padding: 0 1.2em 0.9em 1.2em;
    color:navy;
    transition: all .4s;
    position:relative;
    z-index: 1;
}
.nav ol li a::before{
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:41px;
    border-radius: 60px 60px 60px 60px;
    transform-origin: bottom;
    background:aquamarine;
    transform: scaleY(0.05);
    z-index:-1;
    transition:all .5s;
}

.nav ol li a:hover::before{transform: scaleY(1.1);}
.nav ol li a:hover{color:red;}

p#intro{
    margin-left:60px; 
    margin-right:40px;
    margin-top:200px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 990px) {
    .nav{
        width:100%;
        display:flex;
        justify-content: center;
    }
    img#profilepic{
        width:50%;
        height:auto;
    }
}

@media (max-width: 700px){
    .nav ol{
        flex-direction: column;
        text-align: center;
    }
    img#profilepic{
        width:80%;
        height:auto;
    }
    p#intro{
        margin-left:60px; 
        margin-right:40px;
        margin-top:40px;
    }
}